.header-container {
    margin-bottom: 25px;
  }
  
  .reimpresion-label {
    display: inline-block;
  }
  
  .side-menu {
    float: right;
  }
  
  .side-menu button {
    color: #FFFFFF;
    background-color: #3f51b5;
    min-width: 150px;
    margin-left: 10px;
  }
  
  mat-form-field {
    margin-right: 25px;
  }
  
  input {
    width: 250px;
  }
  
  .no-tickets {
    text-align: center;
  }
  
  .search-results {
    margin-top: 25px;
  }
  .mat-form-field {
    width: 250px;
  }
  
  .header-container {
    margin-bottom: 25px;
  }
  
  .welcome-label {
    display: inline-block;
  }
  
  .side-menu {
    float: right;
  }
  
  .side-menu button {
    color: #FFFFFF;
    background-color: #3f51b5;
    min-width: 150px;
    margin-left: 10px;
  }
  
  table {
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    td {
      padding: 10px;
      font-size: 16px;
    }

    tbody:nth-child(even) {
      background-color: #f0f1ff;
    }

    tbody:nth-child(odd) {
      background-color: #F9FCFF;
    }

    .totales {
      background-color: aquamarine;
      font-weight: bold;
    }
    .totales-funcion {
      font-weight: bold;
    }

  }