<mat-card>
  <div class="header-container">
    <!--<h1 class="welcome-label">Bienvenido a la Cinema Plaza San Javier</h1>
    <h5 class="user-id">{{ userName }}</h5>-->
  </div>

  <mat-card>
      <mat-form-field>
        <mat-label>Fechas</mat-label>
        <mat-select
          [(ngModel)]="selectedDate"
          (ngModelChange)="handleDateChange()">
          <mat-option *ngFor="let fecha of fechas" [value]="fecha">
            {{fecha | date}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="complejo">
        <mat-label>Complejo</mat-label>
        <mat-select
          [(value)]="currentComplejo.value">
          <mat-option *ngFor="let complejo of complejos" [value]="complejo.value">
            {{complejo.label}}
          </mat-option>
        </mat-select>
      </mat-form-field> 

      <button mat-button [matMenuTriggerFor]="menu" class="setting-btn complejo">Menu</button>
      <mat-menu #menu="matMenu">
        <button
        mat-menu-item
        routerLink="/cambio" class="display-block-btn">Cambio de boleto</button>
        <button
        mat-menu-item
        routerLink="/reservaciones" class="display-block-btn">Reservaciones</button>
        <button
        *ngIf="reimpresionAccess"
        mat-menu-item
        routerLink="/reimpresion" class="display-block-btn">Reimprimir boletos</button>
        <button
        mat-menu-item
        (click)="handleLogOut()" class="display-block-btn">Log out</button>
      </mat-menu>
  </mat-card>





  
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="1">
      <ng-template matStepLabel> <span (click)="resetDataToDefaultValues()">Selecciona tu pelicula</span></ng-template>
      <div class="peliculas-container">
        <div
          class="pelicula"
          *ngFor="let pelicula of peliculas">
          <mat-card>
              <img [src]="pelicula.cartelUrl" alt="">
              <mat-card-title>{{pelicula.nombre}}</mat-card-title>
              <div class="horarios-container">
                <div 
                  *ngFor="let horario of pelicula.horarios">
                  <div
                    class="horario"
                    (click)="handleHorarioSelection(horario, pelicula)">
                    <h5
                      class="hora"
                      [ngClass]="{'active': horario.id === selectedHorario?.id }">
                      {{horario.hora}}
                    </h5>
                    <h5 class="sala">{{horario.sala.nombre}}</h5>
                  </div>
                </div>
              </div>
          </mat-card>
        </div>
      </div>
      <mat-card *ngIf="selectedHorario">
          <mat-card-title>Boletos: {{totalTickets}} - {{total | currency}}</mat-card-title>
          <div>
            <mat-card
              class="precio-container"
              *ngFor="let precio of selectedHorario.precios">
              <div (click)="handleDecreaseButton(precio)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
              </div>
              <div>
                <h4>{{ precio.nombre }}</h4>
                <h3>{{precio.boletos}}</h3>
                <h5>$ {{ precio.precio }}</h5>
              </div>
              <div (click)="handleIncreaseButton(precio)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
              </div>
            </mat-card>
            <div class="next-button button-select-seat" *ngIf="totalTickets > 0">
              <button
                mat-button
                matStepperNext
                (click)="handleNextButton()"><h3>Selecccionar asientos</h3></button>
            </div>
          </div>
      </mat-card>
    </mat-step>
    <mat-step *ngIf="totalTickets > 0" [stepControl]="2">
      <ng-template matStepLabel>Selecciona tus asientos</ng-template>
      <div class="asientos-container">
        <div class="movie-card">
            <mat-card>
              <img [src]="selectedMovie.cartelUrl" alt="">
              <mat-card-title>{{selectedMovie.nombre}}</mat-card-title>
              <div class="horarios-container">
                <div
                  class="horario">
                  <h5
                    class="hora">
                    {{selectedHorario.hora}}
                  </h5>
                  <h5 class="sala">{{selectedHorario.sala.nombre}}</h5>
                </div>
              </div>
          </mat-card>
          <div
            *ngIf="this.selectedSeats.length >= this.totalTickets"
            class="print-button-container">
              <button
              mat-button
              matStepperNext
              (click)="handlePrintButton()"><h3>Imprimir asientos</h3></button>
          </div>
        </div>
        <div class="asientos">
          <h2>{{ totalTickets }} boletos | {{total | currency}}</h2>
          <div class="table-window">
            <div class="seats-table-container">
              <table>
                <tr *ngFor="let row of seats">
                  <td class="seat-letter">{{ row.asientos[0].fila }}</td>
                  <td
                    *ngFor="let seat of row.asientos"
                    (click)="handleSeatButton(seat)"
                    class="seat"
                    [ngClass]="{'active': seat.active && !seat.ocupado, 'hidden': seat.tipo === 0, 'special': seat.tipo === 2, 'disabled': seat.ocupado, 'apartado': seat.apartado && !seat.active }">
                    {{seat.tipo !== 0 ? seat.numero <= 9 ? '' + seat.fila  +  seat.numero : '' + seat.fila +  seat.numero  : ''}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="screen-section">
            <p>pantalla</p>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>  
</mat-card>
